// -----------------------------------------------------------------------------
// This file contains animation styles.
// -----------------------------------------------------------------------------

.element-fade {
  opacity: 0;
  transition: opacity 0.5s ease-in 0.25s;
  &.in-view {
    opacity: 1;
  }
}

// animation: bounce 3s infinite;
@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-15px);
  }
  60% {
    transform: translateY(-15px);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    display: block;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    display: none;
  }
}

.fade-in {
  animation: fadeIn 0.6s linear forwards;
}

.fade-out {
  animation: fadeOut 0.6s linear forwards;
}

@keyframes slideLeft {
  from {
    transform: translateX(calc(50vw));
  }
  to {
    transform: translateX(calc(50vw - 100%));
  }
}

@keyframes slideRight {
  from {
    transform: translateX(calc(50vw - 100%));
  }
  to {
    transform: translateX(calc(50vw));
  }
}

.slide-left {
  animation: slideLeft 1.4s ease-in-out forwards;
}

.slide-right {
  animation: slideRight 1.4s ease-in-out forwards;
}
