// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

/**
 * Set up a decent box model on the root element
 */

html {
  box-sizing: border-box;
  font-size: $rem-base;
  scroll-behavior: smooth;
  --theme-orange: #ff5629;
}

/**
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */

*,
*:before,
*:after {
  box-sizing: inherit;
}

/**
 * Basic typography style for copy text
 */

body {
  @include font-opentype;
  @include font-smoothing;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  font-size: 1.7rem;
  font-weight: normal;
  line-height: 3.2rem;
  text-wrap: pretty;

  @media (max-width: 1025px) {
    font-size: 1.4rem;
    line-height: 2.5rem;
  }

  .block-copy {
    p:last-of-type {
      padding-bottom: 0;
    }
  }

  h1 {
    font-size: 15rem;
    font-family: 'Taiwan';
    line-height: 15rem;
    text-transform: uppercase;
    color: white;

    @media (max-width: 2200px) {
      font-size: 9rem;
      line-height: 9rem;
    }

    @media (max-width: 600px) {
      font-size: 5.6rem;
      line-height: 5.6rem;
    }
  }

  h2 {
    font-size: 12rem;
    font-family: 'Taiwan';
    line-height: 6rem;
    color: var(--theme-orange);

    @media (max-width: 2200px) {
      font-size: 6.7rem;
      line-height: 3rem;
    }

    @media (max-width: 600px) {
      font-size: 4.1rem;
      line-height: 2rem;
    }
  }

  h3 {
    font-family: 'Taiwan';
    font-size: 9.6rem;
    line-height: 10.6rem;
    color: white;

    @media (max-width: 1025px) {
      font-size: 7rem;
      line-height: 7.7rem;
    }

    @media (max-width: 600px) {
      font-size: 4.3rem;
      line-height: 4.7rem;
    }
  }

  h4 {
    font-size: 3rem;
    line-height: 4.5rem;
    color: white;
    text-align: end;

    @media (max-width: 1025px) {
      text-align: start;
      font-size: 2.4rem;
      line-height: 3.6rem;
    }
  }

  h5 {
    font-size: 1.7rem;
    line-height: 3.9rem;
    color: white;
    font-weight: bold;

    @media (max-width: 1025px) {
      text-align: start;
      font-size: 1.3rem;
      line-height: 3rem;
    }
  }

  .lg-reveal {
    transition:
      opacity 0.7s linear 0s,
      transform 1s cubic-bezier(0.215, 0.61, 0.355, 1) 0s !important;
  }
}
