@import url('https://p.typekit.net/p.css?s=1&k=bea2hgp&ht=tk&f=22710&a=9836756&app=typekit&e=css');

@mixin font-opentype {
  -moz-font-feature-settings: 'liga=1', 'dliga=1', 'kern=1', 'onus=1';
  -ms-font-feature-settings: 'liga', 'dliga', 'kern', 'onus';
  -o-font-feature-settings: 'liga', 'dliga', 'kern', 'onus';
  -webkit-font-feature-settings: 'liga', 'dliga', 'kern', 'onus';
  font-feature-settings: 'liga', 'dliga', 'kern', 'onus';
}

@mixin font-smoothing {
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-osx-font-smoothing: auto;
}

@font-face {
  font-family: 'ProximaNova';
  src: url('/assets/fonts/ProximaNova-Regular.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Taiwan';
  src: url('/assets/fonts/Taiwan.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/assets/fonts/Montserrat-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

.prox-reg {
  font-family: 'ProximaNova', Arial, Helvetica, sans-serif;
  font-weight: normal;
}
